version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    container_name: zookeeper
    volumes:
      - /home/w205/docker/mounts/zookeeper/data:/var/lib/zookeeper/data
      - /home/w205/docker/mounts/zookeeper/log:/var/lib/zookeeper/log
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
    expose:
      - "2181"
      - "2888"
      - "32181"
      - "3888"
    ports:
      - "32181:32181"     # 필요하면 호스트에서 붙을 수 있게
    extra_hosts:
      - "moby:127.0.0.1"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    container_name: kafka
    depends_on:
      - zookeeper
    volumes:
      - /home/w205/docker/mounts/kafka/data:/var/lib/kafka/data
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    expose:
      - "9092"
      - "29092"
    ports:
      - "29092:29092"
    extra_hosts:
      - "moby:127.0.0.1"

  mongo:
    image: w205_mongo
    volumes:
      - /home/w205/docker/mounts/mongo/data:/data/db
    expose:
      - "27017"
    ports:
      - "27017:27017"

  redis:
    image: w205_redis
    volumes:
      - /home/w205/docker/mounts/redis/data:/data
    expose:
      - "6379"
    ports:
      - "6379:6379"

  nginx:
    image: w205_nginx
    volumes:
      - /home/w205/user:/user
    expose:
      - "80"
      - "443"
    ports:
      - "80:80"
      - "443:443"

  neo4j:
    image: w205_neo4j
    volumes:
      - /home/w205/user:/user
      - /home/w205/docker/mounts/neo4j/data:/data
    environment:
      NEO4J_PLUGINS: '["graph-data-science"]'
      NEO4J_AUTH: 'neo4j/ucb_mids_w205'
    expose:
      - "7473"
      - "7474"
      - "7687"
    ports:
      - "7473:7473"
      - "7474:7474"
      - "7687:7687"

  anaconda:
    image: w205_anaconda
    stdin_open: true
    tty: true
    volumes:
      - /home/w205/user:/user
      - /home/w205/docker/mounts/anaconda/environments:/opt/conda/envs
    expose:
      - "5000"
      - "8888"
    ports:
      - "5000:5000"
      - "8888:8888"


